name: develop-build
run-name: Develop build of the app
on:
  push:
    branches:
      - master
  workflow_dispatch:
env:
  BUILD_NUMBER: ${{ github.run_number }}
jobs:
  build-app:
    concurrency:
      group: "develop-build"
      cancel-in-progress: true
    runs-on: "ubuntu-latest"
    steps:
      # Preparation

      - name: Install screenshot test dependencies
        run: "sudo apt-get install -y libfreetype6 fontconfig fonts-dejavu"
      - name: Globally enable build cache and parallel execution
        run: "echo -e 'org.gradle.caching=true\norg.gradle.parallel=true' >> ~/.gradle/gradle.properties"
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: temurin
      - uses: android-actions/setup-android@7c5672355aaa8fde5f97a91aa9a99616d1ace6bc
      - uses: actions/checkout@v3

      # Build app

      - name: Compile app
        run: "./gradlew compileDebugKotlin assembleRelease"
        env:
          RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
          RELEASE_KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
      - name: "Upload proguard mappings"
        uses: actions/upload-artifact@v3
        with:
          name: mapping-app-develop-release.txt
          path: app/build/outputs/mapping/developRelease/mapping.txt

      # Tests

      - name: Lint
        run: "./gradlew lintRelease detektRelease detektReleaseUnitTest assertModuleGraph"
      - name: Compile Unit Tests
        run: "./gradlew compileDebugUnitTestSources compileReleaseUnitTestSources"
      - name: Run Unit Tests
        run: "./gradlew test -x :app-screenshot-tests:testDebugUnitTest -x :app-screenshot-tests:testReleaseUnitTest"
      #      - name: "Run Screenshot Tests"
      #        run: "./gradlew --continue verifyPaparazziDebug"
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/composite@v2
        if: always()
        with:
          comment_mode: failures
          junit_files: |
            **/build/outputs/*-results/**/*.xml
            **/build/*-results/**/*.xml
      #      - name: "Upload Screenshot test failures"
      #        uses: actions/upload-artifact@v3
      #        if: failure()
      #        with:
      #          name: failed-screenshot-tests
      #          path: app-screenshot-tests/out


      - name: "Publish release"
        uses: actions/upload-artifact@v3
        with:
          name: release-apk
          path: app/build/outputs/**/*-release.apk
